// Default Styles
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --navBackground: #f8f9fa;
    --darkBlue: #0f1a3d;
    --lightBlue: #6990ca;
    --lightYellow: #fdeaa5;
    --orangeYellow: #eba63f;
}

// Body Styles
body{
    // background-image: linear-gradient(#6684AD 9%,#ADC7EB);
    background-image: linear-gradient(#5484AD 9%,#93C7EB);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    // color: black;
}

.mb-5{
    margin-bottom: 4rem !important;
}

// Nav Bar Styles
.navbar-brand{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    img{
        width: 80px;
        margin-right: 20px;
    }
    p{
        margin-bottom: 0;
        color: var(--darkBlue);
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3rem;
    }
}

// Nav Bar Button Styles
.btn{
    color: var(--darkBlue);
    margin-left: 10px;
    margin-right: 10px;
    &:last-child{
        margin-right: 40px;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:hover, &.active{
        background-color: var(--lightBlue);
        border: var(--lightBlue);
        color: white;
        box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
    }
    &.active{
        background-color: var(--darkBlue);
    }
}

.navbar-toggler{
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

// Footer Styles
footer{
    width: 100%;
    bottom: 0;
    p{
        margin: 0;
    }
    .h1{
        color: var(--darkBlue);
        font-size: 1.1rem;
    }
    a{
        text-decoration: none;
        color: var(--lightBlue);
    }
}


// Media Rules for Navbar
@media only screen and (max-width: 768px){

    .btn{
        background-color: var(--navBackground);
        font-size: 1.2rem;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    
        &:hover, &.active{
            background-color: var(--navBackground);
            border: var(--navBackground);
            color: var(--darkBlue);
            box-shadow: none;
        }
        &.active{
            font-weight: bold;
        }
    }

    .navbar-nav{
        margin-top: .9rem;
    }
}
@media only screen and (max-width: 415px){
    .navbar-brand{
        p{
            display: none;
        }
    }
}

//Media Rules for Footer
@media only screen and (max-width: 260px){
    footer{
        .h1{
            font-size: 100%;
        }
            font-size: 80%;
    }
}


// General Page Styles
.masthead{
    padding-top: 1.4rem;
    padding-bottom: 5rem;
}

// Today Styles
.today{
    font-family: 'Raleway', sans-serif;
    padding-bottom: 0;
    .container{
        color: var(--darkBlue);
        border-radius: 6px;
        padding: 20px 20px;
        max-width: 900px;
        width: 90%;

        // Top Div Styles (general details)
        &.genDetails{
            display: grid;
            grid-template-columns: auto auto;
            align-content: center;
            box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
            
            .item{
                padding-left: 15%; 
                h1, h2, h4, h5{
                    margin-bottom: 0;
                }
            }

            .locat{
                grid-column-start: 1;
                grid-column-end: 2;

                grid-row-start: 1;
                grid-row-end: 2;

                align-self: center;
                
                #location{
                    font-weight: 700;
                    color: var(--lightBlue);
                }
                
            }
            .time{
                grid-column-start: 1;
                grid-column-end: 2;

                grid-row-start: 2;
                grid-row-end: 3;

                align-self: center;
                margin-bottom: 12px;
                #time{
                    font-size: 1.4rem;
                    font-weight: 500;
                }
            }
            .temp{
                grid-column-start: 1;
                grid-column-end: 2;

                grid-row-start: 3;
                grid-row-end: 4;

                align-self: center;

                #temperature{
                    color: var(--orangeYellow);
                    font-weight: 800;
                }
            }
            .weath{
                grid-column-start: 1;
                grid-column-end: 2;

                grid-row-start: 4;
                grid-row-end: 5;

                align-self: center;

                #weather{
                    font-weight: 500;
                }
            }
            .icon{
                grid-column-start: 2;
                grid-column-end: 3;

                grid-row-start: 1;
                grid-row-end: 5;

                align-self: center;

                padding-right: 15%; 
                justify-self: end;

                img{
                    max-width: 200px;
                    padding: 4%;
                }
            }
        }

        //Bottom Div Styles (more details)
        &.moreDetails{
            box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
            display: flex;
            flex-direction: column;
            h1{
                font-weight: 600;
                color: var(--orangeYellow);
            }
            #day{
                margin-bottom: 3%;
                color: var(--lightBlue);
            }
            .item{
                padding-left: 8%;
                margin-bottom: 2%;  
                h3{
                    margin-bottom: 0;
                    font-weight: 500;
                }
            }
        }
    }
}

// Media Rules for Today Page
@media only screen and (max-width: 768px) {
    .today{
        .container{
            min-height: 230px;
            &.genDetails{
                .item{ 
                    h1, h2, h4, h5{
                        font-size: 1.5rem;
                    }
                    #location, #temperature{
                        font-weight: 600;
                    }
                    #time, #weather{
                        font-weight: 500;
                    }
                }
                .icon{
                    padding-right: 0%;
                    justify-self: center;
                    img{
                        max-width: 120px;
                        padding: 4%;
                        
                    }
                }
            }

            &.moreDetails{
                h1{
                    font-size: 1.5rem;
                }
                .item{ 
                    h1, h3{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 445px){
    .today{
        .container{
            &.genDetails{
                padding: 20px 5px;
                .item{ 
                    h4{
                        font-size: 1.2rem;
                    }
                    h1, h2{
                        font-size: 1.3rem;
                    }
                }
                .icon{
                    img{
                        padding-right: 10%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 240px){
    .today {
        .container{
            &.genDetails {
                grid-template-columns: auto;
                text-align: center;
                .locat{
                    align-self: center;
                    margin-bottom: 10px;               
                }
                .time{
                    align-self: center;
                    margin-bottom: 15px;
                    #time{
                        font-size: 1.4rem;
                        font-weight: 500;
                    }
                }
                .icon{
                    grid-column-start: 1;
                    grid-column-end: 8;
    
                    grid-row-start: 3;
                    grid-row-end: 3;
                    
                    margin-bottom: 15px;

                    align-self: center;
 
                    justify-self: start;
                }
                .temp{
                    grid-row-start: 4;
                    grid-row-end: 5;
    
                    align-self: center;
                    margin-bottom: 10px;
                    #temperature{
                        font-weight: 700;
                    }
                }
                .weath{  
                    grid-row-start: 5;
                    grid-row-end: 6;
                    
                    #weather{
                        font-weight: 500;
                    }
                }
            }
            &.moreDetails{
                text-align: center;
                padding-left: 2%;
                .item{
                    padding-left: 8%;
                    h3{
                        margin-bottom: 0;
                        font-weight: 560;
                    }
                }
            }
        }
    }
}


// Weekly Styles
.weekly{
    padding-bottom: 0;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    height: 73vh;
    .fill{
        flex: 1 1 auto;
    }
    .contain{
        .temp{
            font-weight: 700;
            color: var(--orangeYellow);
        }
        .weath{
            font-weight: normal;
        }
        display: flex;
        flex-direction: row;
        grid-gap: .5%;
        justify-content: space-between;
        width: 98%;
        margin: 0 auto;
        
        .card{
            #day{
                font-weight: 600;
                font-size: 1rem;
                color: var(--lightBlue);
            }
            padding: 2% 3% 2% 3%;
            align-items: center;
            justify-content: center;
            width: 13.5%;
            box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
            text-align: center;
            div{
                font-weight: 500;
                .maxTemp{
                    color: var(--orangeYellow);
                    font-weight: 800
                }
                .minTemp{
                    color: var(--orangeYellow);
                    font-weight: 800
                }
            }
            img{
                width: 80%;
                margin-top: 5%;
                margin-bottom: 5%;
            }
        }
    }
}

// Media Rules for Weekly Page
@media only screen and (max-width: 768px){
    .weekly{
        margin-bottom: 4rem !important;
        .contain{
            flex-direction: column;
            width: 80%;
            margin: auto;
            .card{
                #day{
                    margin-top: .5rem;
                    font-size: 1.5rem;
                }
                width: fit-content;
                margin: 10px auto;
                :last-child{
                    margin-bottom: .2rem;
                }
                div{
                    font-size: 1.2rem;
                }
                img{
                    margin-top: 4%;
                    margin-bottom: 4%;
                    width: 60%;
                }
            }
        }
    }
}


// Hourly Styles
.hourly{
    font-family: 'Raleway', sans-serif;
    color: var(--darkBlue);
    padding-bottom: 0;
    h1, h2, h5{
        margin: 0;
    }
    .contain{
        width: 70%;
        margin: auto;
        .card{
            box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
            border: var(--darkBlue) 1 solid;
            margin: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 3%;
            flex-wrap: wrap;

            h1, h2, h5{
                font-weight: 600;
                margin: 2%;
            }
            div{
                margin: 2%;
                h1, h2, h5{
                    margin: 0;
                }
            }

            h1{
                font-size: calc(1.375rem + .9vw);
                color: var(--orangeYellow);
            }

            h2{
                color: var(--lightBlue);
            }

            h5{
                font-size: 1.3rem;
            }

            div{
                min-width: 75px;
                text-align: center;
                h5{
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 1140px){
    .hourly{
        .contain{
            width: 85%;
            .card{
                padding: 2%;
            }
        }
    }
}

@media only screen and (max-width: 870px){
    .hourly{
        .contain{
            width: 95%;
            .card{
                padding: 1.6%;
                h1, h2, h5{
                    font-size: 1.25rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 670px){
    .hourly{
        .contain{
            width: 100%;
            padding: 1.5%;
            .card{
                h1, h2, h5{
                    font-size: .9rem;
                    margin: 1%;
                }
                div{
                    margin: 1%;
                    h1, h2, h5{
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 480px){
    .hourly{
        .contain{
            .card{
                display: grid;
                text-align: center;
                row-gap: 15%;
                padding: 5%;
                padding-bottom: 8.5%;

                .time{
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                .weather{
                    grid-column-start: 2;
                    grid-column-end: 3;
                }
                .temp{
                    grid-column-start: 3;
                    grid-column-end: 4;
                }
                .hum{
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                div.uvi{
                    grid-column-start: 2;
                    grid-column-end: 3;
                }
                .press{
                    grid-column-start: 3;
                    grid-column-end: 4;
                }
            }
        }
    }
}