// Default Styles
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --darkBlue: #0f1a3d;
    --lightBlue: #89b0eb;
    --lightYellow: #fdeaa5;
    --orangeYellow: #f3c05a;
}

// General Styles
body{
    // background-image: linear-gradient(#6684AD 9%,#ADC7EB);
    background-image: linear-gradient(#5484AD 9%,#93C7EB);
    background-attachment: fixed;
    background-size: cover;
    
    color: black;
}

// Nav Bar Styles
.navbar-brand{
    color: var(--darkBlue);
    text-transform: uppercase;
    // font-family: ;
    &:hover{
        color: var(--darkBlue);
    }
    img{
        width: 80px;
        margin-right: 15px;
    }
}

.navbar-collapse{
    flex-grow: .1;
}

.btn{
    color: var(--darkBlue);

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:hover, &.active{
        background-color: var(--darkBlue);
        border: var(--darkBlue);
        color: white;
        box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
    }
    &.active{
        background-color: var(--lightBlue);
    }

    
    &.dropdown{
        margin-top: 10px;
        background-color: #f8f9fa;

        &:focus {
            outline: none;
            box-shadow: none;
        }

        &:hover, &.active{
            background-color: #f8f9fa;
            border: #f8f9fa;
            color: var(--darkBlue);
            box-shadow: none;
        }
        &.active{
            font-weight: bold;
        }
    }
}

.navbar-toggler{
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.masthead{
    padding-top: 8rem;
    padding-bottom: 8rem;
}
