// Default Styles
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --darkBlue: #0f1a3d;
    --lightBlue: #89b0eb;
    --lightYellow: #fdeaa5;
    --orangeYellow: #f3c05a;
}

// General Styles
body{
    // background-image: linear-gradient(#6684AD 9%,#ADC7EB);
    background-image: linear-gradient(#5484AD 9%,#93C7EB);
    background-attachment: fixed;
    background-size: cover;
    
    color: black;
}

// Nav Bar Styles
.navbar-collapse{
    flex-grow: .3;
}
.btn{
    color: var(--darkBlue);
    &:hover{
        background-color: var(--darkBlue);
        border: var(--darkBlue);
        color: white;
    }
}

.active{
    border-bottom: var(--darkBlue) 1px solid;
}