// Default Styles
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --navBackground: #f8f9fa;
    --darkBlue: #0f1a3d;
    --lightBlue: #89b0eb;
    --lightYellow: #fdeaa5;
    --orangeYellow: #f3c05a;
}

// Body Styles
body{
    // background-image: linear-gradient(#6684AD 9%,#ADC7EB);
    background-image: linear-gradient(#5484AD 9%,#93C7EB);
    background-attachment: fixed;
    background-size: cover;
    
    color: black;
}

// Nav Bar Styles
.navbar-brand{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    img{
        width: 80px;
        margin-right: 20px;
    }
    p{
        margin-bottom: 0;
        color: var(--darkBlue);
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3rem;
    }
}

// Nav Bar Button Styles
.btn{
    color: var(--darkBlue);
    margin-left: 10px;
    margin-right: 10px;
    &:last-child{
        margin-right: 40px;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:hover, &.active{
        background-color: var(--lightBlue);
        border: var(--lightBlue);
        color: white;
        box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
    }
    &.active{
        background-color: var(--darkBlue);
    }
}

.navbar-toggler{
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

// Footer Styles
footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    .navbar-brand{
        color: var(--darkBlue);
        font-size: 1.1rem;
    }
}

// Media Rules for Navbar
@media only screen and (max-width: 768px){

    .btn{
        background-color: var(--navBackground);
        font-size: 1.2rem;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    
        &:hover, &.active{
            background-color: var(--navBackground);
            border: var(--navBackground);
            color: var(--darkBlue);
            box-shadow: none;
        }
        &.active{
            font-weight: bold;
        }
    }

    .navbar-nav{
        margin-top: .9rem;
    }

    footer{
        // position: sticky;
        // bottom: 0;
        // left: 0;
        // width: 100vw;
    }
}

@media only screen and (max-width: 415px){
    .navbar-brand{
        p{
            display: none;
        }
    }
}


// General Page Styles
.masthead{
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
}

// Today Styles
.today{
    font-family: 'Raleway', sans-serif;
    .container{
        color: var(--darkBlue);
        border-radius: 6px;
        padding: 20px 20px;
        max-width: 900px;

        // Top Div Styles (general details)
        &.genDetails{
            display: grid;
            grid-template-columns: auto auto;
            align-content: center;
            
            .item{
                padding-left: 15%; 
                h1, h2, h4, h5{
                    margin-bottom: 0;
                }
            }

            .locat{
                grid-column-start: 1;
                grid-column-end: 2;

                grid-row-start: 1;
                grid-row-end: 2;

                align-self: center;
                
                #location{
                    font-weight: 700;
                }
                
            }
            .time{
                grid-column-start: 1;
                grid-column-end: 2;

                grid-row-start: 2;
                grid-row-end: 3;

                align-self: center;
                margin-bottom: 12px;
                #time{
                    font-size: 1.4rem;
                    font-weight: 700;
                }
            }
            .temp{
                grid-column-start: 1;
                grid-column-end: 2;

                grid-row-start: 3;
                grid-row-end: 4;

                align-self: center;

                #temperature{
                    font-weight: 700;
                }
            }
            .weath{
                grid-column-start: 1;
                grid-column-end: 2;

                grid-row-start: 4;
                grid-row-end: 5;

                align-self: center;

                #weather{
                    font-weight: 700;
                }
            }
            .icon{
                grid-column-start: 2;
                grid-column-end: 3;

                grid-row-start: 1;
                grid-row-end: 5;

                align-self: center;

                padding-right: 15%; 
                justify-self: end;

                img{
                    max-width: 200px;
                    padding: 4%;
                }
            }
        }

        //Bottom Div Styles (more details)
        &.moreDetails{
            display: flex;
            flex-direction: column;
            h1{
                font-weight: 600;  
            }
            .item{
                padding-left: 8%;
                h1, h3{
                    margin-bottom: 0;
                    font-weight: 600;
                }
            }
        }
    }
}

// Media Rules for Today Page
@media only screen and (max-width: 768px) {
    footer{
        position: sticky;
        width: 100%;
        bottom: 0;
    }
    .today{
        .container{
            min-height: 230px;
            &.genDetails{
                .item{ 
                    h1, h2, h4, h5{
                        font-size: 1.5rem;
                    }
                    #location, #temperature{
                        font-weight: 600;
                    }
                    #time, #weather{
                        font-weight: 500;
                    }
                }
                .icon{
                    padding-right: 0%;
                    justify-self: center;
                    img{
                        max-width: 120px;
                        padding: 4%;
                        
                    }
                }
            }

            &.moreDetails{
                h1{
                    font-size: 1.5rem;
                }
                .item{ 
                    h1, h3{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 445px){
    .today{
        .container{
            &.genDetails{
                padding: 20px 5px;
                .item{ 
                    h4{
                        font-size: 1.2rem;
                    }
                    h1, h2{
                        font-size: 1.3rem;
                    }
                }
                .icon{
                    img{
                        padding-right: 10%;
                    }
                }
            }
        }
    }
}



// Week Styles
.weekly{
    font-family: 'Raleway', sans-serif;
    .contain{
        #day{
            font-weight: bold;
            font-size: 0.95em;
        }
        .weath{
            font-weight: normal;
        }
        display: flex;
        flex-direction: row;
        grid-gap: .5%;
        justify-content: space-between;
        width: 84%;
        margin: 0 auto;
        
        .card{
            padding-top: 8%;
            padding-bottom: 8%;
            align-items: center;
            width: 13.5%;
            //margin: 5px;
            img{
                width: 80%;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .weekly{
        .contain{
            #day{
                font-size: 0.95em;
            }
            flex-direction: column;
            width: 60%;
            margin: auto;
            .card{
                width: fit-content;
                margin: 10px auto;
            }
        }
    }
}

@media only screen and (max-width: 445px){
    .weekly{
        .container{

        }
    }
}